// Place all the styles related to the freelancer_artist_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.ability-x-charged-rate.matrix {
    border: 1px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;

    .section {
        background: #D3D3D3;
    }
}